<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Электронный журнал МРК</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand"><img style="height: 40pt" src="~/css/source/mainIcon.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://www.mrk-bsuir.by/ru">На сайт колледжа</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://moodle.mrk-bsuir.by/">moodle</a>
                        </li>
                    </ul>
                    <a asp-controller="LogIn" asp-action="Logout" class="nav-link text-dark pl-0">Выход</a>
                </div>
            </div>
        </nav>
    </header>

    <main class="account__form" role="main">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2021 - Минский радиотехнический колледж
        </div>
        <button onclick="topFunction()" id="onTop" title="Go to top">↑</button>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/markTable.js"></script>
    <script src="~/js/scrollToTop.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>