<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Электронный журнал МРК</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <main class="account__form" role="main">
        <div class="container-fluid">
            <div class="container border-right border-left min-vh-100">
                <div class="changePass__block col-10">
                    <div class="row d-flex flex-column p-3 pt-5">
                        <h2>Восстановление пароля</h2>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scrollToTop.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
