@using EDiary.ViewModels
@model TeacherChangePassword

<h2>Изменение пароля</h2>
<form asp-action="ChangePassword" asp-controller="Teacher">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="oldTeacherPassword" class="control-label">Старый пароль</label>
        <input type="text" asp-for="oldTeacherPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="newTeacherPassword" class="control-label">Новый пароль</label>
        <input type="text" asp-for="newTeacherPassword" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>