@using EDiary.ViewModels
@model AddTeacherModel
<div class="col-12">
    <form class="row d-flex flex-column">
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label for="tSurname" class="form-label mb-0">Фамилия</label>
                <input asp-for="teacherSurname" type="text" class="form-control" id="tSurname" required>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label for="tName" class="form-label mb-0">Имя</label>
                <input asp-for="teacherName" type="text" class="form-control" id="tName" required>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label for="tLName" class="form-label mb-0">Отчество</label>
                <input asp-for="teacherLastname" type="text" class="form-control" id="tLName">
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label for="validationCustomUsername" class="form-label mb-0">Имя пользователя</label>
                <div class="input-group has-validation">
                    <span class="input-group-text b-r-0" id="preTLogin">tr</span>
                    <input asp-for="teacherLogin" type="text" class="form-control" id="tLogin" readonly="readonly" required value="@ViewBag.teacherLogin">
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label for="tPass" class="form-label mb-0">Пароль</label>
                <input asp-for="teacherPassword" type="text" class="form-control" readonly="readonly" id="tPass" required value="@ViewBag.teacherPass">
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label for="tGroup" class="form-label mt-2 mb-0">Курируемая группа</label>
                <input asp-for="curatorGroup" type="text" class="form-control" id="tGroup" list="Groups" value="">
                <datalist id="Groups">
                    @foreach (var group in Model.groups)
                    {
                        <option value="@group.groupName"></option>
                    }
                </datalist>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="row mb-3">
                <button asp-action="CreateTeacher" class="btn btn-primary" type="submit">Сохранить преподавателя</button>
            </div>
        </div>
    </form>
</div>
