@using EDiary.ViewModels
@model AddStudentModel
<div class="col-12">
    <form class="row d-flex flex-column">
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label class="form-label mb-0" for="stName">Фамилия</label>
                <input class="form-control" id="stSurname" asp-for="studentSurname" type="text" required>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-7">
            <div class="row mb-3">
                <label class="form-label mb-0" for="stName">Имя</label>
                <input class="form-control" id="stName" asp-for="studentName" type="text" required>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label class="form-label mb-0" for="stLName">Отчество</label>
                <input class="form-control" id="stLName" asp-for="studentLastname" type="text">
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label class="form-label mb-0" for="stLogin">Имя пользователя</label>
                <div class="input-group has-validation">
                    <span class="input-group-text b-r-0" id="preStLogin">st</span>
                    <input class="form-control" id="stLogin" asp-for="studentLogin" type="text" readonly required value="@ViewBag.studentLogin">
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label class="form-label mb-0" for="stPass">Пароль</label>
                <input class="form-control" id="stPass" asp-for="studentPassword" type="text" readonly required value="@ViewBag.studentPass">
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label class="form-label mb-0" for="stGroup">Группа</label>
                <input class="form-control" id="stGroup" asp-for="studentGroup" type="text" list="Groups" value="">
                <datalist id="Groups">
                    @foreach (var group in Model.groups)
                    {
                        <option value="@group.groupName"></option>
                    }
                </datalist>
                <div class="form-check d-flex align-items-center">
                    <input class="form-check-input" id="labsCheck" type="checkbox" value="">
                    <label class="form-check-label" for="labsCheck">
                        Староста группы
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="row justify-content-center justify-content-sm-start">
                <button class="btn btn-primary" asp-action="CreateStudent" type="submit">Сохранить учащегося</button>
            </div>
        </div>
    </form>
</div>
