@using EDiary.ViewModels
@model TableGroupModel
<div class="col-12">
    <form class="row d-flex flex-column" asp-action="CreateGroup">
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label class="form-label mb-0" for="groupName">Номер</label>
                <input class="form-control" id="groupName" asp-for="groupName" type="text" required>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label class="form-labal mb-0" for="groupTeacher">Куратор</label>
                <input class="form-control" id="groupTeacher" asp-for="curator" type="text" list="teachers" required />
                <datalist id="teachers">
                    @foreach (var teacher in Model.teachers)
                    {
                        <option value="@teacher"></option>
                    }
                </datalist>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6 col-12">
            <div class="row mb-3 justify-content-center justify-content-sm-start">
                <button class="btn btn-primary" type="submit">Сохранить группу</button>
            </div>
        </div>
    </form>
</div>