@using EDiary.ViewModels
@model AddStudentModel
<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
        <label for="validationCustom02" class="form-label mb-0">Фамилия</label>
        <input asp-for="studentSurname" type="text" class="form-control" id="validationCustom02" required>
    </div>
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label mt-2 mb-0">Имя</label>
        <input asp-for="studentName" type="text" class="form-control" id="validationCustom01" required>
    </div>
    <div class="col-md-4">
        <label for="validationCustom03" class="form-label mt-2 mb-0">Отчество</label>
        <input asp-for="studentLastname" type="text" class="form-control" id="validationCustom03">
    </div>
    <div class="col-md-4">
        <label for="validationCustomUsername" class="form-label mt-2 mb-0">Имя пользователя</label>
        <div class="input-group has-validation">
            <span class="input-group-text b-r-0" id="inputGroupPrepend">st</span>
            <input type="text" class="form-control" id="validationCustomUsername" disabled readonly="readonly" aria-describedby="inputGroupPrepend" value="@ViewBag.stLogin">
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationCustomPassword" class="form-label mt-2 mb-0">Пароль</label>
        <input type="text" class="form-control" id="CustomPassword" required value="@ViewBag.stPass">
    </div>
    <div class="col-md-3 mb-3">
        <label for="validationCustom02" class="form-label mt-2 mb-0">Группа</label>
        <input asp-for="studentGroup" type="text" class="form-control" id="validationCustom02" list="groups" required>
        <datalist id="groups">
            @foreach (var group in Model.groups)
             {
                <option data="@group.groupId">@group.groupName</option>
             }
        </datalist>
    </div>
    <div class="col-12">
        <button asp-action="CreateStudent" class="btn btn-primary" type="submit">Сохранить учащегося</button>
    </div>
</form>