@using EDiary.Models
@using EDiary.ViewModels
@model IEnumerable<TeacherGroupSubjectModel>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Предмет</th>
            <th scope="col">Преподаватели</th>
            <th scope="col">Группа</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacherGroupSubject in Model)
        {
            <tr>
                <td>@teacherGroupSubject.tsubjectId</td>
                <td>@teacherGroupSubject.subjectName</td>
                <td>@teacherGroupSubject.teacherFullName</td>
                <td>@teacherGroupSubject.groups</td>
            </tr>
        }
    </tbody>
</table>