@using EDiary.Models
@using EDiary.ViewModels
@model IEnumerable<AspTeacherSubjectGroupModel>
<div class="col-12">
    <div class="row">
        <div class="col-12">
            <div class="row mb-4">
                <input id="findInput" type="text" class="form-control" placeholder="Поиск по предметам" />
            </div>
        </div>
        <table class="table table-bordered overflow-auto">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Предмет</th>
                    <th scope="col">Преподаватель</th>
                    <th scope="col">Группа</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var teacherUserSubject in Model.subjects)
                {
                    <tr>
                        <td>@teacherUserSubject.subjectName</td>
                        <td>@teacherUserSubject.teacherFullname</td>
                        <td>@teacherUserSubject.groupName</td>
                        <td>
                            <a class="btnUpdate" data-object="subject"><img src="/css/source/iconUpdate.png"/></a>
                            <a class="btnRemove" data-object="subject"><img src="~/css/source/iconDelete.png"/></a>
                        </td>
                   </tr>
                }
            </tbody>
        </table>
    </div> 
<div id="сonfirmModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Удалить запись</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="col-12">
                        <div class="row mb-2">
                            <input id="subjectName" type="hidden" value=""/>
                            <p id="confirmText">Вы действительно хотите удалить запись</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <input type="submit" class="btn btn-primary" value="Удалить" />
                </div>
            </form>
        </div>
    </div>
</div>

<div id="updateModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Обновить запись</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="col-12">
                        <div class="row mb-2">
                            <input class="form-control" id="subName" type="text" required value=""/>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row mb-2">
                            <input class="form-control" id="subjectTeacher" type="text" list="subTeachers" required value=""/>
                            <datalist id="subTeachers">
                                <option></option>
                            </datalist>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row mb-2">
                            <input class="form-control" id="subjectGroup" type="text" list="subGroups" required value=""/>
                            <datalist id="subGroups">
                                <option></option>
                            </datalist>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <input type="submit" class="btn btn-primary" value="Обновить" />
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<script src="~/js/partialScript.js"></script>