    <form asp-controller="Admin">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 accountF h-100 p-3">
                    <div class="row h-100">
                        <div class="col-3">
                            <dl class="list-group list-group-flush">
                                <dt class="mb-1">Пользователи:</dt>
                                <dd class="list-group-item list-group-item-action cursor" id="allT">Все преподаватели</dd>
                                <dd class="list-group-item list-group-item-action cursor" id="allSt">Все учащиеся</dd>
                                <dd class="list-group-item list-group-item-action cursor" id="addT">Добавить преподавателя</dd>
                                <dd class="list-group-item list-group-item-action cursor" id="addSt">Добавить учащегося</dd>
                                <dt class="mt-2 mb-1">Предметы:</dt>
                                <dd class="list-group-item list-group-item-action cursor" id="allSb">Все предметы</dd>
                                <dd class="list-group-item list-group-item-action cursor" id="addSb">Добавить предмет</dd>
                            </dl>
                        </div>
                        <div class="col-9 h100">
                            <div class="row flex-column" id="partialDiv">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis finibus diam et dictum. In quis neque iaculis, pulvinar orci nec, sagittis odio. Praesent nec consequat est. Etiam vulputate a ex eget tincidunt. Proin accumsan ut dui vitae ullamcorper. Donec eget tortor sed tellus molestie tristique. Fusce vehicula fermentum massa. Aliquam erat volutpat. In quis metus quis urna accumsan aliquet vel sit amet sem. Etiam neque metus, interdum ac dictum posuere, finibus ut eros. Aliquam dictum dignissim odio, a imperdiet lacus cursus sed. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam in interdum orci. Morbi efficitur rutrum leo eu volutpat. Maecenas suscipit diam purus, eget lobortis erat euismod et. Duis nec purus eget nisl semper consectetur et ut magna.

                                Curabitur finibus lacus non mi tempor blandit. Vestibulum ipsum orci, convallis quis tincidunt eget, sagittis sed nibh. In orci justo, maximus sed tincidunt quis, luctus fringilla quam. Ut vel leo non enim luctus convallis. Quisque feugiat, dolor nec commodo volutpat, velit ligula dignissim sem, eget tempor est lectus nec leo. Integer a velit sit amet ligula dignissim tincidunt. Cras elit massa, imperdiet quis malesuada eu, vestibulum at urna. Nam sed rhoncus elit. Nunc scelerisque, augue faucibus posuere elementum, est massa venenatis erat, quis feugiat eros risus vitae massa. Etiam id pretium ligula. Fusce justo turpis, lacinia id suscipit vitae, faucibus id nunc. Nullam ut tortor purus. Maecenas tincidunt congue gravida. Nam convallis nulla condimentum, lobortis libero sed, sagittis neque. Curabitur quis diam et nisi mollis condimentum. Mauris pretium velit nibh, et consectetur lacus luctus in.

                                Nulla aliquet sagittis dignissim. Curabitur augue arcu, cursus ut odio ut, pharetra finibus justo. Etiam sit amet quam et velit feugiat placerat. Aenean porta sed nisl faucibus imperdiet. Nullam placerat luctus erat, id malesuada nulla volutpat mattis. Fusce pulvinar eu lorem id accumsan. Donec auctor, ex vel varius consequat, ipsum neque laoreet arcu, in luctus purus ligula finibus leo. Pellentesque sit amet fringilla eros. Donec vel purus vehicula, rhoncus augue eget, ultrices lorem. Suspendisse urna nibh, ultrices ac facilisis non, bibendum ac purus. Sed sit amet diam vitae erat ultrices tempus. Duis convallis rhoncus quam, et rhoncus ante consectetur eget. Nulla egestas in sem id ultricies. Phasellus mattis dui turpis, viverra varius orci viverra non. Morbi tincidunt imperdiet lobortis.

                                Aliquam pretium facilisis mauris quis iaculis. Proin quis mauris a diam efficitur vulputate. Etiam interdum pretium diam, faucibus blandit magna elementum a. Pellentesque tincidunt vulputate orci. Nullam vulputate ligula sapien, et placerat enim feugiat vel. Proin interdum elit at eleifend pharetra. Donec ut placerat ante. Fusce eu molestie tortor, et euismod nisl. Phasellus est leo, finibus sit amet odio eget, venenatis varius tellus.

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in iaculis mi. Proin commodo, eros quis sollicitudin aliquam, mi dolor congue felis, tempus gravida nulla libero at justo. Sed hendrerit lectus dui, at iaculis nunc congue in. Nunc tortor enim, dapibus ut tincidunt quis, venenatis vel turpis. Maecenas eu ullamcorper magna. Proin id dolor quam. Curabitur dignissim, purus non placerat fringilla, nisi nisi congue enim, ac molestie dolor nulla sed lacus. Mauris faucibus urna ac bibendum maximus. Sed quam nisi, ultrices sit amet venenatis at, cursus nec eros. Nunc non tristique tellus, at viverra nisi. Morbi interdum mollis enim, scelerisque luctus arcu accumsan a. Nunc augue ipsum, posuere ac facilisis quis, fringilla nec felis. Vivamus fermentum, est eget imperdiet ornare, justo mi tempus magna, nec eleifend dui ligula ut tellus. Nam laoreet quam non augue malesuada, hendrerit facilisis arcu fermentum.

                                Aliquam fringilla massa felis, sed blandit magna venenatis non. Morbi mattis fermentum mattis. Sed non quam in felis tristique tincidunt vel et tellus. Maecenas porta placerat enim vel tempor. Fusce ac diam sem. In vehicula, quam sit amet venenatis suscipit, elit ipsum congue dui, id tempus felis nisl et velit. Aliquam elementum convallis diam, sagittis interdum ligula egestas sed. Donec malesuada nibh nec turpis accumsan, sit amet malesuada metus consectetur. Sed vehicula mi non lectus lacinia molestie. In hac habitasse platea dictumst. Nam sagittis volutpat tincidunt. Nulla augue mi, dignissim id magna id, ultrices lobortis sem.

                                Quisque ut purus justo. Fusce id mi vitae metus gravida placerat sed placerat sapien. Pellentesque scelerisque, ante vitae ullamcorper bibendum, justo dolor vulputate est, at finibus metus urna at leo. Cras at semper magna. Etiam commodo risus justo, ut consequat ante viverra a. Aenean nisl lectus, hendrerit non feugiat sed, mattis ac nisl. Cras molestie tincidunt aliquam. Phasellus eget purus arcu. Aenean lectus metus, consectetur eget sollicitudin sit amet, sollicitudin ut magna. Suspendisse cursus mattis mi, a tristique eros sollicitudin ac. Proin facilisis lorem nec lectus euismod fringilla quis id nunc.

                                Maecenas rhoncus mauris eu dapibus mattis. Nunc a enim nec sapien vehicula sagittis quis at elit. Integer placerat mattis diam, vel luctus purus suscipit et. Aliquam eget velit aliquet, eleifend dolor sit amet, tempus ipsum. Duis sem mauris, imperdiet at lacus sagittis, rutrum tempus massa. Vestibulum congue, lacus in tincidunt congue, risus orci consectetur mauris, nec lacinia odio erat posuere mi. Pellentesque ut ligula a nisi molestie laoreet vitae sit amet tellus. Aenean ut turpis vulputate, vestibulum eros ac, efficitur tortor. Aliquam lobortis congue tellus, ut finibus dolor euismod sit amet. Integer sed tortor et tellus consectetur placerat a sit amet arcu. Morbi ultrices turpis lectus. Nam luctus sapien ut commodo semper. Aenean est dolor, maximus quis ultricies non, sollicitudin id erat.

                                Phasellus cursus nec justo in porta. Phasellus finibus semper leo. Nulla vestibulum scelerisque ullamcorper. Sed sollicitudin venenatis nisi, sed iaculis ipsum volutpat id. Vestibulum ut dolor ligula. Aliquam erat volutpat. Fusce sit amet suscipit turpis. Etiam ac libero vestibulum, vehicula leo non, tristique ex. Sed tincidunt facilisis nisi non sodales.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
