<div class="row min-vh-100">
    <div class="admin__sidebar sidebar col-lg-3 border-right">
        <div class="row flex-column p-3">
            <dl class="list-group list-group-flush">
                <dt class="mb-1">Пользователи:</dt>
                    <dd class="list-group-item list-group-item-action cursor" id="allT">Все преподаватели</dd>
                    <dd class="list-group-item list-group-item-action cursor" id="allSt">Все учащиеся</dd>
                    <dd class="list-group-item list-group-item-action cursor" id="addT">Добавить преподавателя</dd>
                    <dd class="list-group-item list-group-item-action cursor" id="addSt">Добавить учащегося</dd>
                <dt class="mt-2 mb-1">Предметы:</dt>
                    <dd class="list-group-item list-group-item-action cursor" id="allSb">Все предметы</dd>
                    <dd class="list-group-item list-group-item-action cursor" id="addSb">Добавить предмет</dd>
                <dt class="mt-2 mb-1">Группы:</dt>
                    <dd class="list-group-item list-group-item-action cursor" id="addG">Добавить группу</dd>
            </dl>
        </div>
    </div>
    <div class="admin__main col-lg-8">
        <div class="row flex-column p-3" id="partialDiv">

        </div>
    </div>
</div>