<div class="row min-vh-100">
    <a class="admin__menu m-md-2 m-sm-2 m-2 d-lg-none">
        <img src="~/css/source/dots.png"/>
    </a>
    <div class="admin__sidebar sidebar col-5 col-sm-4 col-md-3 h-100 d-lg-block d-none border-right">
        <div class="row p-3 pt-md-2 pl-md-2 pt-sm-2 pl-sm-2 flex-column">
            <a class="admin__menu mb-md-2 d-lg-none" >
                <img src="~/css/source/dots.png"/>
            </a>
            <dl class="list-group list-group-flush ml-md-1 ml-sm-2 mt-sm-1 ml-2 mt-1">
                <dt class="mb-1">Пользователи:</dt>
                    <dd class="list-group-item list-group-item-action cursor p-sm-3 p-1" id="allT">Все преподаватели</dd>
                    <dd class="list-group-item list-group-item-action cursor p-sm-3 p-1" id="allSt">Все учащиеся</dd>
                    <dd class="list-group-item list-group-item-action cursor p-sm-3 p-1" id="addT">Добавить преподавателя</dd>
                    <dd class="list-group-item list-group-item-action cursor p-sm-3 p-1" id="addSt">Добавить учащегося</dd>
                <dt class="mt-2 mb-1">Предметы:</dt>
                    <dd class="list-group-item list-group-item-action cursor p-sm-3 p-1" id="allSb">Все предметы</dd>
                    <dd class="list-group-item list-group-item-action cursor p-sm-3 p-1" id="addSb">Добавить предмет</dd>
                <dt class="mt-2 mb-1">Группы:</dt>
                    <dd class="list-group-item list-group-item-action cursor p-sm-3 p-1" id="addG">Добавить группу</dd>
            </dl>
        </div>
    </div>
    <div class="admin__main col-lg-8 col-md-11 col-sm-11 col-10">
        <div class="row flex-column p-sm-3 p-2" id="partialDiv">

        </div>
    </div>
</div>
