@charset "UTF-8";
html {
  font-size: 14px;
  height: 100%;
  position: relative;
  min-height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
  height: 100%;
  background-color: #8466d26b;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

.nav-item .navbar-brand > img {
  width: 30pt;
}

.navbar-brand > img {
  width: 40pt;
}

a > img {
  cursor: pointer;
  width: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

h1 {
  font-weight: normal;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

tr, td {
  text-align: center;
  text-anchor: middle;
}

.b-r-0 {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.cursor {
  cursor: pointer;
}

.show {
  display: block !important;
}

.btn-primary {
  color: #fff;
  background-color: #7748ca;
  border-color: #7748ca;
}
.btn-primary:hover {
  background-color: #6f42c1;
  border-color: #6f42c1;
}
.btn-primary:active {
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.autorizationF {
  min-width: 120vh;
  background: #FFFFFF;
  margin: 0 auto;
  -webkit-box-shadow: 1px 1px 18px 2px rgba(107, 0, 107, 0.2);
  box-shadow: 1px 1px 18px 2px rgba(107, 0, 107, 0.2);
  border-radius: 5px;
}
.autorizationF > * {
  font-family: "Ubuntu", sans-serif;
}

.autorizationF__form {
  padding: 50px 20px;
  -webkit-box-shadow: 7px 0px 5px -4px rgba(69, 70, 71, 0.53) inset;
  box-shadow: 7px 0px 5px -4px rgba(69, 70, 71, 0.53) inset;
}

.circle {
  width: 100px;
  height: 100px;
  opacity: 0.3;
  background: #8466d26b;
}

.circle1 {
  width: 100px;
  height: 100px;
  opacity: 0.3;
  background: #8466d26b;
  border-radius: 100px;
  position: absolute;
  top: -30px;
}

.circle2 {
  width: 110px;
  height: 110px;
  opacity: 0.3;
  background: #8466d26b;
  border-radius: 100px;
  position: absolute;
  top: -47px;
  left: 16px;
}

.autorizationF__img {
  background: url("./source/background.png") center no-repeat;
  min-height: 87vh;
  background-size: cover;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.img__icon {
  width: 70px;
  height: 70px;
  position: absolute;
  z-index: 1;
  margin: 7px;
}

.img__title {
  font-family: "Ubuntu", sans-serif;
  font-size: 250%;
  text-align: center;
  color: #fff;
}
.img__title::after {
  display: block;
  width: 10%;
  height: 0.5%;
  background-color: #fff;
  content: "";
  position: absolute;
}

.form__title {
  font-weight: bold;
  font-size: 200%;
}

.form__label {
  font-size: 90%;
  margin: 0 0 0 4px;
}

.invalidAlert {
  color: red;
  font-size: 80%;
}

.form__input {
  border-bottom: 3px solid #800080;
}

.login__btn {
  margin: 0 20px;
  padding: 15px 34px;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-width: 0;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  outline: none;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#b40ec1), to(#7619fd));
  background: linear-gradient(90deg, #b40ec1, #7619fd);
}
.login__btn:hover {
  color: #fff;
}
.login__btn:hover::before {
  color: #fff;
  left: -10%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.login__btn:hover::after {
  color: #fff;
  left: -20%;
}
.login__btn::before, .login__btn::after {
  color: #fff;
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: -110%;
  top: 0;
  opacity: 0.1;
  background: black;
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (min-width: 1600px) {
  .autorizationF__form {
    padding: 50px 15px;
  }

  .autorizationF__form > .row > form > .row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .img__title {
    font-size: 290%;
  }

  .form__title {
    font-size: 220%;
    margin-bottom: 15px;
  }

  .circle1 {
    width: 110px !important;
    height: 110px !important;
  }

  .circle2 {
    width: 120px !important;
    height: 120px !important;
  }

  .invalidAlert {
    font-size: 100%;
  }
}
._table {
  display: block !important;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
}

.sticky-table {
  max-width: 100%;
  overflow: auto;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
  -webkit-transition: width 2s;
  transition: width 2s;
  -webkit-transition: all 0s;
  transition: all 0s;
}
.sticky-table * {
  -webkit-transition: all 0s;
  transition: all 0s;
}
.sticky-table table {
  margin-bottom: 0;
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  padding: 0 !important;
  border-collapse: collapse;
}
.sticky-table table tr.sticky-header th, .sticky-table table tr.sticky-header td {
  background-color: #fff;
  border-top: 0;
  position: relative;
  position: -ms-sticky;
  position: sticky;
  outline: 1px solid #ddd;
  z-index: 5;
  top: 0;
  vertical-align: middle;
}
.sticky-table table td.sticky-cell, .sticky-table table th.sticky-cell {
  background-color: #fff;
  position: relative;
  position: -ms-sticky;
  position: sticky;
  z-index: 10;
}

.sticky-table.sticky-ltr-cells table td.sticky-cell, .sticky-table.sticky-ltr-cells table th.sticky-cell {
  left: 0;
}

.sticky-table.sticky-rtl-cells table td.sticky-cell, .sticky-table.sticky-rtl-cells table th.sticky-cell {
  right: 0;
}

.sticky-table table tr.sticky-header td.sticky-cell, .sticky-table table tr.sticky-header th.sticky-cell {
  z-index: 15;
}

.vt-text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 75%;
  font-style: oblique;
}

.lessEKZ {
  background-color: #ff000069 !important;
}

.lessOKR {
  background-color: #ff00004a !important;
}

.lessKR {
  background-color: #ff5e0033 !important;
}

.lessSR {
  background-color: #ffc80033 !important;
}

.jurnal__block {
  background-color: #fff;
  border-radius: 25px;
}
.jurnal__block h3 {
  font-size: 32px;
}

.block__item {
  background-color: #d5cbf0;
  color: black;
  cursor: pointer;
  border-radius: 25px !important;
  border: none !important;
}
.block__item:hover {
  text-decoration: underline;
}

.pt-3-half {
  padding-top: 1.4rem;
}

.editableTable {
  overflow-x: scroll;
}

.jurnal__main {
  font-family: "Ubuntu", sans-serif;
}

.currentStudent {
  border: 0.1rem solid black;
}

.account__form {
  min-height: 81vh;
  background-color: #fff;
}

.sidebar__acc, .sidebar__notes, .sidebar__status, .account__group, .main__subjects, .subjects__side, sidebar {
  background-color: #fff;
}

.sidebar__notes::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
}
.sidebar__notes::-webkit-scrollbar-thumb {
  background-color: #00000029;
}

.notes__note {
  background-color: #d4ddfa;
  border-radius: 25px;
}

.notes__title {
  font: normal 24px "Ubuntu", sans-serif;
  color: black;
}

.note__title {
  font: normal 18px "Ubuntu", sans-serif;
  color: black;
}

.note__text {
  font: lighter 14px/25px "Ubuntu", sans-serif;
  color: black;
}

.acc__status > img {
  height: 25px;
  width: 25px;
}

.acc__photo {
  height: 150px;
  width: 150px;
  border-radius: 60%;
}

.acc__label > .row > p {
  font: normal 22px "Ubuntu", sans-serif;
  text-align: center;
}

.status__text {
  font: normal 14px "Ubuntu", sans-serif;
}

.icons__dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25re;
}
.dropdown__content a {
  text-decoration: none;
  display: block;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown__content a:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.main {
  background-color: #f8f8f8;
  -webkit-box-shadow: 5px 0px 8px -5px rgba(34, 60, 80, 0.12) inset;
  box-shadow: 5px 0px 8px -5px rgba(34, 60, 80, 0.12) inset;
}

.main__subjects {
  height: 100vh;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 22px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 22px 3px rgba(0, 0, 0, 0.12);
}

.subjects__side {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.block__tile {
  font: normal 30px "Ubuntu", sans-serif;
}

.item__circle {
  width: 70px;
  height: 70px;
  background-color: #dfd8f1;
}
.item__circle > img {
  height: 50px;
  width: 50px;
}

.item__title {
  font: normal 16px "Ubuntu", sans-serif;
}

.group__title {
  font-family: "Ubuntu", sans-serif;
}

.account__group {
  height: 100vh;
}

.block__subs {
  height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.block__subs::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
}
.block__subs::-webkit-scrollbar-thumb {
  background-color: #00000029;
}

.group__block {
  height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.group__block::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
}
.group__block::-webkit-scrollbar-thumb {
  background-color: #00000029;
}

.group__mate {
  border-top: 1px solid #e5e5e5;
}

.mate__img > img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.subject__find {
  height: 60px;
  color: black;
  font: normal 13px "Ubuntu", sans-serif;
}
.subject__find:hover {
  background-color: #7748ca;
  color: #fff !important;
  cursor: pointer;
}
.subject__find:first-of-type {
  border-top-left-radius: 25px;
}

.admin__menu {
  width: 20px;
  height: 20px;
}

.selection__dropdown {
  max-height: 200px !important;
  min-width: 100px !important;
  overflow: auto;
}
.selection__dropdown::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
}
.selection__dropdown::-webkit-scrollbar-thumb {
  background-color: #00000029;
}

.selection__item {
  cursor: pointer;
  opacity: 0.7;
}
.selection__item > img {
  width: 45px;
  height: 45px;
  margin: 5px 0px;
}
.selection__item > p {
  font-size: 0.7em;
}

.selection__item-hover {
  opacity: 1 !important;
}

.selection__item-check {
  opacity: 1 !important;
}
.selection__item-check::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 16px;
  height: 16px;
  right: 7px;
  background: url("source/checkIcon.png") no-repeat;
}

.checked {
  opacity: 1 !important;
}
.checked::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 16px;
  height: 16px;
  right: 7px;
  background: url("source/checkIcon.png") no-repeat;
}

@media (max-width: 991px) {
  .admin__sidebar {
    background-color: #fff;
    position: absolute;
    z-index: 1;
  }
}
#onTop {
  display: none;
  background-color: #7748ca;
  opacity: 0.4;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  z-index: 1000;
}
#onTop:hover {
  opacity: 0.6;
}
#onTop:active {
  border: 0;
  opacity: 0.8;
  outline: none;
}
#onTop::after {
  content: "ÔÅ∑";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

.footer {
  position: page;
  bottom: 0;
  background-color: aliceblue;
  width: 100%;
  white-space: nowrap;
  margin-top: 0;
  line-height: 60px;
}