@using EDiary.ViewModels
<div class="container border-right border-left">
    <div class="changePass__block col-10">
        <div class="row p-3 d-flex flex-column">
            <h2>Изменение почты</h2>
            <form asp-action="" asp-controller="LogIn">
                <div class="form-group">
                    <label class="control-label">Старый e-mail</label>
                    <input class="form-control" type="email" asp-for="" required />
                    <span class="small text-danger" asp-validation-for=""></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Новый e-mail</label>
                    <input class="form-control" type="email" asp-for="" required/>
                    <span class="small text-danger" id="valForNew" asp-validation-for=""></span>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Сохранить"/>
                </div>
            </form>
        </div>
    </div>
</div>