@using EDiary.ViewModels
@model UserChangePasswordModel
<div class="container border-right border-left">
    <div class="changePass__block col-10">
        <div class="row d-flex flex-column p-3">
            <h2>Изменение пароля</h2>
            <form asp-action="ChangePassword" asp-controller="LogIn">
                <div class="form-group">
                    <label asp-for="oldPassword" class="control-label">Старый пароль</label>
                    <input type="password" asp-for="oldPassword" class="form-control" required />
                    <span asp-validation-for="oldPassword" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="newPassword" class="control-label">Новый пароль</label>
                    <input type="password" asp-for="newPassword" class="form-control" required aria-describedby="passwordHelpBlock"/>
                    <span asp-validation-for="newPassword" class="small text-danger" id="valForNew"></span>
                    <small id="passwordHelpBlock" class="form-text text-muted" >
                        Пароль должен состоять из латинских символов (верхнего и нижнего регистров), цифр и быть не менее 8 символов.
                    </small>
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>