@model ForgotPasswordModel
@{
    Layout = "~/Views/Shared/_passLayout.cshtml";
}
@*<form asp-controller="LogIn" asp-action="ForgotPassword" method="post" class="form-horizontal">
    <h4>Введите email</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="userEmail" class="col-md-2 control-label">Введите email</label>
        <div class="col-md-10">
            <input asp-for="userEmail" class="form-control" required/>
            <span asp-validation-for="userEmail" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </div>
</form>*@
<div class="container border-right border-left min-vh-100">
    <div class="changePass__block col-10">
        <div class="row d-flex flex-column p-3 pt-5">
            <h2>Восстановление пароля</h2>
            <form asp-controller="LogIn" asp-action="ForgotPassword" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userEmail" class="col-2 control-label p-0">Введите email</label>
                <div class="col-10 p-0">
                    <input asp-for="userEmail" class="form-control" required/>
                    <span asp-validation-for="userEmail" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>
        </div>
    </div>
</div>