@model ForgotPasswordModel
@{
    Layout = "~/Views/Shared/_passLayout.cshtml";
}
<form class="form-horizontal" asp-controller="LogIn" asp-action="ForgotPassword" method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group">
        <label class="col-2 control-label p-0">Введите email</label>
        <div class="col-10 p-0">
            <input class="form-control" asp-for="userEmail" required />
            <span class="text-danger" asp-validation-for="userEmail"></span>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Отправить</button>
    </div>
</form>