@model loginViewModel
@{
    Layout = "~/Views/Shared/_logLayout.cshtml";
}
<div class="row h-100 justify-content-center align-items-center min-vh-100">
    <div class="autorizationF col-10 offset-1 flex-column justify-content-center align-self-center">
        <div class="row h-100">
            <img src="~/css/source/loginIcon.png" class="img__icon" />
            <div class="autorizationF__img col-6 p-2 d-flex flex-column align-items-center align-content-center justify-content-center">
                <div class="row">
                    <h1 class="img__title">Электронный журнал</h1>
                </div>
            </div>
            <div class="autorizationF__form col-6 d-flex flex-column justify-content-center align-content-center align-items-center">
                <div class="row mh-100 align-items-center justify-content-center">
                    <form asp-area="" asp-controller="LogIn" asp-action="Login" method="post" class="col-10 h-100 align-content-center align-items-center justify-content-start">
                        <div class="row h-100 w-100 m-0 align-content-center justify-content-start">
                            <div class="circle1"></div>
                            <div class="circle2"></div>
                            <div class="col-12 mb-2 d-flex flex-column justify-content-center align-items-lg-start">
                                <h2 class="form__title">Вход</h2>
                            </div>
                            <div class="col-12 mt-3 d-flex flex-column justify-content-center align-items-center">
                                <div class="row w-100 justify-content-center align-items-center">
                                    <input asp-for="userName" class="form-control col-12 w-100 m-1 mb-4 brder" id="inputLogin" type="text" placeholder="Логин" required /><span asp-validation-for="userName"></span>
                                    <input asp-for="Password" class="form-control col-12 w-100 m-1 mb-2 brder" id="inputPassword" type="password" placeholder="Пароль" required /><span asp-validation-for="Password"></span>
                                    <div class="col-12 p-0">
                                        <div class="row d-flex flex-row m-0 align-items-center align-content-center justify-content-between">
                                            <div class="col-6">
                                                <div class="row d-flex align-items-center">
                                                    <input asp-for="Remember" type="checkbox" value="false"><span asp-validation-for="Remember"></span>
                                                    <label class="form__label">
                                                        Запомнить меня
                                                    </label>
                                                </div>
                                            </div>
                                            <a asp-action="ForgotPassword" class="form__label">Забыли пароль?</a>
                                        </div>
                                    </div>
                                    <button class="btn col-md-12 mt-4 col-5">Войти</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



