@model loginViewModel
@{
    Layout = "~/Views/Shared/_logLayout.cshtml";
}
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="autorizationF col-10 offset-1 flex-column justify-content-center align-self-center">
                <form asp-area="" asp-controller="LogIn" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl" class="row h-100 align-content-center justify-content-center ">
                    <div asp-validation-summary="All"></div>
                    <div class="row h-100 align-content-center w-100 justify-content-center ">
                        <h1 class="mb-md-5 mb-5">Авторизация</h1>
                        <div class="d-flex w-100 h-25 flex-column justify-content-center align-items-center">
                            <input asp-for="userName" class="form-control shdw input pl-4 pr-4 col-md-5 col-6 w-100 m-1" type="text" placeholder="login" /><span asp-validation-for="userName"></span>
                            <input asp-for="Password" class="form-control shdw input pl-4 pr-4 col-md-5 col-6 w-100 m-1" type="password" placeholder="password" /><span asp-validation-for="Password"></span>
                            <div class="col flex-row col-md-5 col-7 m-0 ml-3 align-items-center">
                                <input asp-for="Remember" type="checkbox" value=""><span asp-validation-for="Remember"></span>
                                <label style="font-size: 90%">
                                    Запомнить меня
                                </label>
                            </div>
                        </div>
                        <input type="submit" class="btn col-md-3 col-5 h1 button shdw rounded-pill" style="height: 10%; font-size: 130%" value="Войти" />
                    </div>
                </form>
            </div>
        </div>
    </div>


