@model loginViewModel
@{
    Layout = "~/Views/Shared/_logLayout.cshtml";
}
<div class="row h-100 min-vh-100 justify-content-center align-items-center">
    <div class="autorizationF col-10 offset-1 flex-column justify-content-center align-self-center">
        <div class="row h-100 flex-column flex-md-row">
            <img class="img__icon d-none d-md-block" src="~/css/source/loginIcon.png"/>
            <div class="autorizationF__img col-12 col-sm-4 col-md-6 p-2 d-flex flex-column align-items-center align-content-center justify-content-center">
                <div class="row d-md-block d-none">
                    <h1 class="img__title">Электронный журнал</h1>
                </div>
            </div>
            <div class="autorizationF__form col-12 col-sm-8 col-md-6 d-flex flex-column justify-content-center align-content-center align-items-center">
                <div class="row align-items-center justify-content-center">
                    <form class="col-sm-10 col-12 h-100 align-content-center align-items-center justify-content-start" asp-area="" asp-controller="LogIn" asp-action="Login" method="post">
                        <div class="row h-100 w-100 m-0 align-content-center justify-content-start">
                            <div class="circle1"></div>
                            <div class="circle2"></div>
                            <div class="col-12 mb-3 mb-md-2 d-flex flex-column justify-content-center align-items-lg-start">
                                <h2 class="form__title">Вход</h2>
                            </div>
                            <div class="col-12 mt-3 d-flex flex-column justify-content-center align-items-center">
                                <div class="row w-100 justify-content-center align-items-center">
                                    <input class="form__input form-control col-12 w-100 m-1 mb-4" id="inputLogin" asp-for="userName" type="text" placeholder="Логин" required />
                                    <input class="form__input form-control col-12 w-100 m-1 mb-1" id="inputPassword" asp-for="Password" type="password" placeholder="Пароль" required />
                                    <div class=" col-12 d-flex justify-content-start">
                                        <div class="row">
                                            <span class="invalidAlert mb-1" asp-validation-for="userName"></span>
                                            <span class="invalidAlert" asp-validation-for="Password"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 p-0">
                                        <div class="row m-0 d-flex flex-row align-items-center align-content-center justify-content-between">
                                            <div class="col-6">
                                                <div class="row d-flex align-items-center">
                                                    <input id="rememberCheck" asp-for="Remember" type="checkbox" value="true"><span asp-validation-for="Remember"></span>
                                                    <label class="form__label" for="rememberCheck">
                                                        Запомнить меня
                                                    </label>
                                                </div>
                                            </div>
                                            <a class="form__label" asp-action="ForgotPassword">Забыли пароль?</a>
                                        </div>
                                    </div>
                                    <button class="login__btn col-md-12 col-10 mt-4">Войти</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



