@{
    Layout = "~/Views/Shared/_passLayout.cshtml";
}
@*<p>
    Ваш пароль сброшен. Для входа в приложение перейдите по <a asp-action="Login">ссылке</a>.
</p>*@
<p class="pt-3">Пароль для входа был сброшен.</p>
<a href="/Login/Login">На главную</a>