<form asp-controller="Accounts" asp-action="Admin">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 accountF h-100 p-3">
                <div class="row h-100">
                    <div class="col-3">
                        <dl class="list-group list-group-flush">
                            <dt class="mb-1">Пользователи:</dt>
                            <dd class="list-group-item list-group-item-action cursor">Добавить учащегося</dd>
                            <dd class="list-group-item list-group-item-action cursor">Добавить преподавателя</dd>
                            <dd class="list-group-item list-group-item-action cursor">Все пользователи</dd>
                            <dt class="mt-2 mb-1">Предметы:</dt>
                            <dd class="list-group-item list-group-item-action cursor">Добавить предмет</dd>
                            <dd class="list-group-item list-group-item-action cursor">Все предметы</dd>
                        </dl>
                    </div>
                    <div class="col-9">
                        <form class="row g-3 needs-validation" novalidate>
                            <div class="col-md-5">
                                <label for="validationCustom02" class="form-label mb-0">Название предмета</label>
                                <input type="text" class="form-control" id="validationCustom02" required>
                            </div>
                            <div class="col-md-5">
                                <label for="validationCustom02" class="form-label mb-0">Преподаватель</label>
                                <input type="text" class="form-control" id="validationCustom02" list="teachers" required>
                                <datalist id="teachers">
                                    <option>1</option>
                                    <option>56</option>
                                </datalist>
                                @*<datalist id="teacher">
                                    @foreach (var teacher in Model)
                                     {
                                        <option>@teacher</option>
                                     }
                                </datalist>*@
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="validationCustom02" class="form-label mb-0">Группа</label>
                                <input type="text" class="form-control" id="validationCustom02" list="groups" required>
                                <datalist id="groups">
                                    <option>1</option>
                                    <option>56</option>
                                </datalist>
                                @*<datalist id="groups">
                                    @foreach (var group in Model)
                                     {
                                        <option>@group</option>
                                     }
                                </datalist>*@
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Сохранить предмет</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
