<form asp-controller="Accounts" asp-action="Admin">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 accountF h-100 p-3">
                <div class="row h-100">
                    <div class="col-3">
                        <dl class="list-group list-group-flush">
                            <dt class="mb-1">Пользователи:</dt>
                            <dd class="list-group-item list-group-item-action cursor">Добавить учащегося</dd>
                            <dd class="list-group-item list-group-item-action cursor">Добавить преподавателя</dd>
                            <dd class="list-group-item list-group-item-action cursor">Все пользователи</dd>
                            <dt class="mt-2 mb-1">Предметы:</dt>
                            <dd class="list-group-item list-group-item-action cursor">Добавить предмет</dd>
                            <dd class="list-group-item list-group-item-action cursor">Все предметы</dd>
                        </dl>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
